@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Raleway&display=swap');
body{
	background: url("../img/fondo-registro.jpg") no-repeat top center;
	background-size: cover;
	height: 100%;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Raleway', sans-serif;	
    max-width: 100%;
    overflow-x: hidden;
}
		
#title{
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	text-align: center;
  	margin-top:30px;
  	font-size:60px;
}

.contenedor{
		
	text-align: center;
	margin-top:-40px;						
}
		
.div1{
	background-color: rgba(0,0,0,0.8);
	border-left: 10px solid #27A8F7;
	border-radius: 25px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 12%;
            
    height: 500px;
    width: 500px;
    padding: 20px;
    color: white;
            
}

.div2{
	background-color: rgba(0,0,0,0.8);
	border-left: 10px solid #27A8F7;
	border-radius: 25px;
	margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 12%;         
    height: 500px;
    width: 500px;
    padding: 20px;
    color: white;
                      
}

.div3{
	background-color: rgba(0,0,0,0.8);
	border-right: 10px solid #27A8F7;
	border-radius: 25px;
	margin-top: -1280px;
    margin-bottom: 100px;
    margin-left: 53%;
    height: 500px;
    width: 500px;
    padding: 20px;
    color: white;
}

.div4{
	background-color: rgba(0,0,0,0.8);
	border-right: 10px solid #27A8F7;
	border-radius: 25px;
	margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 53%;
    height: 500px;
    width: 500px;
    padding: 20px;
    color: white;
}

.fotos{
	margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width:90%;
}

#foto4{
	height:70%;
}

.P1{
	margin-top: 40px;
}

.P2{
	margin-top: 40px;
}
.P3{
	margin-top: 40px;
}
.P4{
	margin-top: 40px;
}