@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Raleway&display=swap');
h1{
	text-align:center;
}
		body{
	background: url("../img/fondo-registro.jpg") no-repeat top center;
	background-size: cover;
	height: 100%;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Raleway', sans-serif;	
    max-width: 100%;
    overflow-x: hidden;
 
		}
		.contenedor{
		
			text-align: center;
			
			
		}
		
		.div1{
		    background-color: rgba(0,0,0,0.8);
			border-left: 10px solid #27A8F7;
			border-radius: 25px;
			margin-top: 100px;
            margin-bottom: 100px;
            margin-left: 5%;
            
            height: 500px;
            width: 500px;
            padding: 20px;
            color: white;
            
		}
		.div2{
			background-color: rgba(0,0,0,0.8);
			border-left: 10px solid #27A8F7;
			border-radius: 25px;
			margin-top: 10px;
            margin-bottom: 100px;
            margin-left: 5%;
            
            height: 500px;
            width: 500px;
            padding: 20px;
            color: white;
          
            
		}
		.div3{
			background-color: rgba(0,0,0,0.8);
			border-right: 10px solid #27A8F7;
			border-radius: 25px;
			margin-top: -1280px;
            margin-bottom: 100px;
            margin-left: 55%;
         
            
          
            height: 500px;
            width: 500px;
            padding: 20px;
            color: white;
            
         
           
		}
		.div4{
		    background-color: rgba(0,0,0,0.8);
			border-right: 10px solid #27A8F7;
			border-radius: 25px;
			margin-top: 10px;
            margin-bottom: 100px;
            margin-left: 55%;
            height: 500px;
            width: 500px;
            padding: 20px;
            color: white;
           
           
		}
		img{
			 margin-left: auto;
             margin-right: auto;
             border-radius: 25px;
		}
		.P1{
			
			margin-top: 50px;
		}
		.P2{
			
			margin-top: 50px;
		}
		.P3{
			
			margin-top: 50px;
		}
		.P4{
			
			margin-top: 50px;
		}