
nav ul.menu {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  width: 250px;
  float: right;
  border-radius: 25px;
  border-right:5px solid #27A8F7;
  border-left:5px solid #27A8F7;
  margin-top:20px;
  margin-right: 50px;
  
}

ul.menu li{
  float: right;
}

ul.menu li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu li a:hover:not(.active) {background-color: #111;}
ul.menu li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.menu li.right, 
  ul.menu li {float: none;}
  ul.menu li a:hover {width:200px; text-align:left;}
  ul.menu .dropdown-content a:hover {width:90px; text-align:center}
}

.menu li a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0,0,0,0.8);
}

.menu li.dropdown {
  display: inline-block;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  max-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,8);
  z-index: 1;
}

.menu .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:center
}

.menu .dropdown-content a:hover {background-color: #f1f1f1; width: 90px}

.menu .dropdown:hover .dropdown-content {
  display:block
}
