@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Raleway&display=swap');
body{
	background: url("../img/fondo-registro.jpg") no-repeat top center;
	background-size: cover;
	height: 100%;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	color:white;
	font-family: 'Raleway', sans-serif;	
    max-width: 100%;
    overflow-x: hidden;
}
.Bajas{
		
   border-left: 10px solid #27A8F7;	
   border-radius: 75px;
   background-color: rgba(0,0,0,0.8);
   padding: 30px;
   margin: 25px;
   text-align:left;
   visibility: visible;  
}
.Deportistas{
   border-right: 10px solid #27A8F7;
   border-radius: 75px;
   background-color: rgba(0,0,0,0.8);
   padding: 30px;
   margin: 25px;
   text-align:left;
   visibility: visible;

}
.Gruistas{
  border-left: 10px solid #27A8F7;
  border-radius: 75px;
  background-color: rgba(0,0,0,0.8);
  padding: 30px;
  margin: 25px;
  text-align:left;
  visibility: visible;
}
.Armas{
  border-right: 10px solid #27A8F7;
  border-radius: 75px;
  background-color: rgba(0,0,0,0.8);
  padding: 30px;
  margin: 25px;
  text-align:left;
  visibility: visible;
   
  }
.Navegacion{
	border-left: 10px solid #27A8F7;
	border-radius: 75px;
	background-color: rgba(0,0,0,0.8);
	padding: 30px;
   	margin: 25px;
    text-align:left;
    visibility: visible;
}
.Conducir{
	border-right: 10px solid #27A8F7;
	border-radius: 75px;
	background-color: rgba(0,0,0,0.8);
	padding: 30px;
   	margin: 25px;
   	text-align:left;
  	visibility: visible;
}
.Animales{
	border-left: 10px solid #27A8F7;
	border-radius: 75px;
	background-color: rgba(0,0,0,0.8);
	padding: 30px;
   	margin: 25px;
   	text-align:left;
   	visibility: visible;
}
.T1,.T3,.T5,.T7{
	text-align: left;
	color:#97D0F3;
}
.T2,.T4,.T6{
	color:#97D0F3;
	text-align: right;
	padding-right: 20px;
}
.Imagenes{

	padding-top: 15px;
	padding-bottom: 50px;
	margin: auto;
	text-align: center;
	
}
#Imagen1{
	border-radius: 50%;
	margin-left: -50px;
	width:300px;
	height:300px;
}
#Imagen2{
	border-radius: 50%;
	margin-left: 100px;
	width:300px;
	height:300px;
}
.BotonIzq{

     margin-left:75px;
     margin-top:-10px;
     border:none;
     border-radius: 50%;
     width: 50px;
	 height:50px;
}

.BotonDrch{
   	display:flex;
  	 margin-left: auto;
  	 margin-right:75px;
     margin-top:-10px;
     border:none;
     border-radius: 50%;
    
	 
}

.hide-icon{
	width: 48px;
	height:48px;
	cursor: pointer;
	border-radius: 50%;
	margin-left:-5px;
	margin-top:-0.5px;

}

.hidden{
	border-left: 10px solid #27A8F7;
	border-radius: 75px;
	background-color: rgba(0,0,0,0.8);
	padding: 30px;
    margin: 25px;
    text-align:left;
    visibility: hidden;
}

